<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ay.contentcore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ay.contentcore.Properties.Settings>
            <setting name="CurrentLang" serializeAs="String">
                <value>中文简体</value>
            </setting>
            <setting name="LastFontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFontStretch" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFontWeight" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFontStyle" serializeAs="String">
                <value />
            </setting>
        </ay.contentcore.Properties.Settings>
    </userSettings>
</configuration>