<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="Common" service="RDS.IAdapter.ICommonAdapter,RDS.IAdapter" type="RDS.Adapter.CommonAdapter,RDS.Adapter"
                lifestyle="singleton">
    </component>
    <!--lifestyle="singleton|thread|transient|pooled|custom"-->
    <!--<component id="aymain" type="ClassLibrary1.Main,ClassLibrary1">
        <parameters>
          <Haha>2019</Haha>
        </parameters>
      </component>-->
  </components>
</castle>